[
    {
        "name": "Compalytics Consul Keyspace",
        "type": "consul-keyspace",
        "config": {
            "properties": {
            }
        }
    },
    {
        "name": "Compalytics",
        "type": "servlet",
        "config": {
            "app": {
                "heap": "64"
            },
            "container": {
                "cores": 1,
                "instances": 1,
                "memory": 512
            }
        }
    }
]